<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>List of movies!!!</h2>
    <ul>
      <li>Venom
        <a href="https://www.imdb.com/title/tt1270797/">Click here for more info!!!</a>
      </li>
      <li>Harry Potter
        <a href="https://en.wikipedia.org/wiki/Harry_Potter">Click here for more info!!!</a>
      </li>
      <li>Titanic
        <a href="https://www.imdb.com/title/tt0120338/">Click here for more info!!!</a>
      </li>
      <li>Lord of the Rings
        <a href="https://en.wikipedia.org/wiki/The_Lord_of_the_Rings">Click here for more info!!!</a>
      </li>
    </ul>
  </body>
</html>