<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <h1><%= title %></h1>
    <h3>Here you can find two lists of movies. 
      The first one is a list of the top 20 all time best Hollywood movies.
      The second list is a list of the top 20 funniest movies at all time. 
    </h3>
    <br />
    <br />
    <p>To watch any of these movies you can watch them here at 
    <a href="https://watchseries.ma"> Watch a Movie </a></p>
    <ul>
      <div class="container-1">
        <h2> Top 20 All Time Best Hollywood Movies To Watch</h2>
        <br />
        <li>*** Pulp Fiction (1994) ***
          <a href="https://en.wikipedia.org/wiki/Pulp_Fiction">Click here for more information on Wikipedia</a>
          <p class="watch">Or watch it here: <a href="https://watchseries.ma/movie/watch-pulp-fiction-free-19700">Pulp Fiction</a></p>
        </li>
        <li>*** Titanic (1997) ***
          <a href="https://en.wikipedia.org/wiki/Titanic_(1997_film)">Click here for more information on Wikipedia</a>
          <p class="watch">Or watch it here: <a href="https://watchseries.ma/movie/watch-titanic-free-19586">Titanic</a></p>
        </li>
        <li>*** The Dark Knight (2008) ***
          <a href="https://en.wikipedia.org/wiki/The_Dark_Knight_(film)">Click here for more information on Wikipedia</a>
          <p class="watch">Or watch it here: <a href="https://watchseries.ma/movie/watch-the-dark-knight-free-19752">The Dark Knight</a></p>
        </li>
        <li>*** Life Is Beautiful (1997) ***
          <a href="https://en.wikipedia.org/wiki/Life_Is_Beautiful">Click here for more information on Wikipedia</a>
          <p class="watch">Or watch it here: <a href="https://watchseries.ma/movie/watch-life-is-beautiful-free-19237">Life Is Beautiful</a></p>
        </li>
        <li>*** The Godfather (1972) ***
          <a href="https://en.wikipedia.org/wiki/The_Godfather">Click here for more information on Wikipedia</a>
          <p class="watch"> Or watch it here <a href="https://watchseries.ma/movie/watch-the-godfather-free-19629">The Godfather</a></p>
        </li>
        <li>*** Pirates of the Caribbean: The Curse of the Black Pearl (2003) ***
          <a href="https://en.wikipedia.org/wiki/Pirates_of_the_Caribbean:_The_Curse_of_the_Black_Pearl">Click here for more information on Wikipedia</a>
          <p class="watch"> Or watch it here <a href="https://watchseries.ma/movie/watch-pirates-of-the-caribbean-the-curse-of-the-black-pearl-free-19756">Pirates of the Caribbean: Curse of the Black Pearl</a></p>
        </li>
        <li>*** Avatar (2009) ***
          <a href="https://en.wikipedia.org/wiki/Avatar_(2009_film)">Click here for more information on Wikipedia</a>
          <p class="watch">Or watch it here: <a href="https://watchseries.ma/movie/watch-avatar-free-19690">Avatar</a></p>
        </li>
        <li>*** Psycho (1960) ***
          <a href="https://en.wikipedia.org/wiki/Psycho_(1960_film)">Click here for more information on Wikipedia</a>
          <p class="watch">Or watch it here: <a href="https://watchseries.ma/movie/watch-psycho-free-19203">Psycho</a></p>
        </li>
        <li>*** Inception (2010) ***
          <a href="https://en.wikipedia.org/wiki/Inception">Click here for more information on Wikipedia</a>
          <p class="watch">Or watch it here: <a href="https://watchseries.ma/movie/watch-inception-free-19764">Inception</a></p>
        </li>
        <li>*** Rain Man (1988) ***
          <a href="https://en.wikipedia.org/wiki/Rain_Man">Click here for more information on Wikipedia</a>
          <p class="watch">Or watch it here: <a href="https://watchseries.ma/movie/watch-rain-man-free-17662">Rain Man</a></p>
        </li>
        <li>*** Terminator 2: Judgment Day (1991) ***
          <a href="https://en.wikipedia.org/wiki/Terminator_2:_Judgment_Day">Click here for more information on Wikipedia</a>
          <p class="watch">Or watch it here: <a href="https://watchseries.ma/movie/watch-terminator-2-judgment-day-free-19609">Terminator 2: Judegement Day</a></p>
        </li>
        <li>*** American Beauty (1999) ***
          <a href="https://en.wikipedia.org/wiki/American_Beauty_(1999_film)">Click here for more information on Wikipedia</a>
          <p class="watch">Or watch it here: <a href="https://watchseries.ma/movie/watch-american-beauty-free-19342">American Beauty</a></p>
        </li>
        <li>*** Jurassic Park (1993) ***
          <a href="https://en.wikipedia.org/wiki/Jurassic_Park_(film)">Click here for more information on Wikipedia</a>
          <p class="watch">Or watch it here: <a href="https://watchseries.ma/movie/watch-jurassic-park-free-18556">Jurassic Park</a></p>
        </li>
        <li>*** Rocky (1976) ***
          <a href="https://en.wikipedia.org/wiki/Rocky">Click here for more information on Wikipedia</a>
          <p class="watch">Or watch it here: <a href="https://watchseries.ma/movie/watch-rocky-free-19528">Rocky</a></p>
        </li>
        <li>*** Taxi Driver (1976) ***
          <a href="https://en.wikipedia.org/wiki/Taxi_Driver">Click here for more information on Wikipedia</a>
          <p class="watch">Or watch it here: <a href="https://watchseries.ma/movie/watch-taxi-driver-free-19066">Taxi Driver</a></p>
        </li>
        <li>*** Sin City (2005) ***
          <a href="https://en.wikipedia.org/wiki/Sin_City_(film)">Click here for more information on Wikipedia</a>
          <p class="watch">Or watch it here: <a href="https://watchseries.ma/movie/watch-sin-city-free-19095">Sin City</a></p>
        </li>
        <li>*** Resevoir Dogs (1992) ***
          <a href="https://en.wikipedia.org/wiki/Reservoir_Dogs">Click here for more information on Wikipedia</a>
          <p class="watch">Or watch it here: <a href="https://watchseries.ma/movie/watch-reservoir-dogs-free-19259">Resevoir Dogs</a></p>
        </li>
        <li>*** L.A. Confidential (1997) ***
          <a href="https://en.wikipedia.org/wiki/L.A._Confidential_(film)">Click here for more information on Wikipedia</a>
          <p class="watch">Or watch it here: <a href="https://watchseries.ma/movie/watch-la-confidential-free-18299">L.A. Confidential</a></p>
        </li>
        <li>*** Django Unchained (2012) ***
          <a href="https://en.wikipedia.org/wiki/Django_Unchained">Click here for more information on Wikipedia</a>
          <p>Or watch it here: <a href="https://watchseries.ma/movie/watch-django-unchained-free-19493">Django Unchained</a></p>
        </li>
        <li>*** Sherlock Holmes (2009) ***
          <a href="https://en.wikipedia.org/wiki/Sherlock_Holmes_(2009_film)">Click here for more information on Wikipedia</a>
          <p class="watch">Or watch it here: <a href="https://watchseries.ma/movie/watch-sherlock-holmes-free-19687">Sherlock Holmes</a></p>
        </li>
       
        
        
      </div>

      <div class="container-1">
        <h2>Top 20 Funniest Movies To Watch</h2>
        <li> *** Monty Python and the Holy Grail (1975) ***
          <a href="https://en.wikipedia.org/wiki/Monty_Python_and_the_Holy_Grail">Click here for more information on Wikipedia</a>
          <p class="watch">Or watch it here: <a href="https://watchseries.ma/movie/watch-monty-python-and-the-holy-grail-free-19516">Monty Python and the Holy Grail</a></p>
        </li>
        <li> *** Airplane! (1980) ***
          <a href="https://en.wikipedia.org/wiki/Airplane!">Click here for more information on Wikipedia</a>
          <p class="watch">Or watch it here: <a href="https://watchseries.ma/movie/watch-airplane-free-19322">Airplane!</a></p>
        </li>
        <li> *** Anchorman: The Legend of Ron Burgundy (2004) ***
          <a href="https://en.wikipedia.org/wiki/Anchorman:_The_Legend_of_Ron_Burgundy">Click here for more information on Wikipedia</a>
          <p class="watch">Or watch it here: <a href="https://watchseries.ma/movie/watch-anchorman-the-legend-of-ron-burgundy-free-18871">Anchorman: The Legend of Ron Burgandy</a></p>
        </li>
        <li> *** Blazing Saddles (1974) ***
          <a href="https://en.wikipedia.org/wiki/Blazing_Saddles">Click here for more information on Wikipedia</a>
          <p class="watch">Or watch it here: <a href="https://watchseries.ma/movie/watch-blazing-saddles-free-17922">Blazing Saddles</a></p>
        </li>
        <li> *** Caddyshack (1980) ***
          <a href="https://en.wikipedia.org/wiki/Caddyshack">Click here for more information on Wikipedia</a>
          <p class="watch">Or watch it here: <a href="https://watchseries.ma/movie/watch-caddyshack-free-18082">Caddyshack</a></p>
        </li>
        <li> *** Groundhog Day (1993) ***
          <a href="https://en.wikipedia.org/wiki/Groundhog_Day_(film)">Click here for more information on Wikipedia</a>
          <p class="watch">Or watch it here: <a href="https://watchseries.ma/movie/watch-groundhog-day-free-19013">Groundhog Day</a></p>
        </li>
        <li> *** The Hangover (2009) ***
          <a href="https://en.wikipedia.org/wiki/The_Hangover">Click here for more information on Wikipedia</a>
          <p class="watch">Or watch it here: <a href="https://watchseries.ma/movie/watch-the-hangover-free-19008">The Hangover</a></p>
        </li>
        <li> *** Young Frankenstein (1974) ***
          <a href="https://en.wikipedia.org/wiki/Young_Frankenstein">Click here for more information on Wikipedia</a>
          <p class="watch">Or watch it here: <a href="https://watchseries.ma/movie/watch-young-frankenstein-free-17881">Groundhog Day</a></p>
        </li>
        <li> *** Dumb and Dumber (1994) ***
          <a href="https://en.wikipedia.org/wiki/Dumb_and_Dumber">Click here for more information on Wikipedia</a>
          <p class="watch">Or watch it here: <a href="https://watchseries.ma/movie/watch-dumb-and-dumber-free-17891">Dumb and Dumber</a></p>
        </li>
        <li> *** This Is Spinal Tap (1984) ***
          <a href="https://en.wikipedia.org/wiki/This_Is_Spinal_Tap">Click here for more information on Wikipedia</a>
          <p class="watch">Or watch it here: <a href="https://watchseries.ma/movie/watch-this-is-spinal-tap-free-16258">This Is Spinal Tap</a></p>
        </li>
        <li> *** Borat (2006) ***
          <a href="https://en.wikipedia.org/wiki/Borat">Click here for more information on Wikipedia</a>
          <p class="watch">Or watch it here: <a href="https://watchseries.ma/movie/watch-borat-cultural-learnings-of-america-for-make-benefit-glorious-nation-of-kazakhstan-free-57631">Borat</a></p>
        </li>
        <li> *** The 40 Year-Old Virgin (2005) ***
          <a href="https://en.wikipedia.org/wiki/The_40-Year-Old_Virgin">Click here for more information on Wikipedia</a>
          <p class="watch">Or watch it here: <a href="https://watchseries.ma/movie/watch-the-40-year-old-virgin-free-18149">The 40 Year-Old Virgin</a></p>
        </li>
        <li> *** Office Space (1999) ***
          <a href="https://en.wikipedia.org/wiki/Office_Space">Click here for more information on Wikipedia</a>
          <p class="watch">Or watch it here: <a href="https://watchseries.ma/movie/watch-office-space-free-18796">Office Space</a></p>
        </li>
        <li> *** The Big Lebowski (1998) ***
          <a href="https://en.wikipedia.org/wiki/The_Big_Lebowski">Click here for more information on Wikipedia</a>
          <p class="watch">Or watch it here: <a href="https://watchseries.ma/movie/watch-the-big-lebowski-free-19484">The Big Lebowski</a></p>
        </li>
        <li> *** There's Something About Mary (1998) ***
          <a href="https://en.wikipedia.org/wiki/There%27s_Something_About_Mary">Click here for more information on Wikipedia</a>
          <p class="watch">Or watch it here: <a href="https://watchseries.ma/movie/watch-theres-something-about-mary-free-19012">There's Something About Mary</a></p>
        </li>
        <li> *** Shaun of the Dead (2004) ***
          <a href="https://en.wikipedia.org/wiki/Shaun_of_the_Dead">Click here for more information on Wikipedia</a>
          <p class="watch">Or watch it here: <a href="https://watchseries.ma/movie/watch-shaun-of-the-dead-free-19201">Shaun of the Dead</a></p>
        </li>
        <li> *** Elf (2003) ***
          <a href="https://en.wikipedia.org/wiki/Elf_(film)">Click here for more information on Wikipedia</a>
          <p class="watch">Or watch it here: <a href="https://watchseries.ma/movie/watch-elf-free-18148">Elf</a></p>
        </li>
        <li> *** Superbad (2007) ***
          <a href="https://en.wikipedia.org/wiki/Superbad">Click here for more information on Wikipedia</a>
          <p class="watch">Or watch it here: <a href="https://watchseries.ma/movie/watch-superbad-free-18729">Superbad</a></p>
        </li>
        <li> *** Happy Gilmore (1996) ***
          <a href="https://en.wikipedia.org/wiki/Happy_Gilmore">Click here for more information on Wikipedia</a>
          <p class="watch">Or watch it here: <a href="https://watchseries.ma/movie/watch-happy-gilmore-free-18461">Happy Gilmore</a></p>
        </li>
        <li> *** American Pie (1999) ***
          <a href="https://en.wikipedia.org/wiki/American_Pie_(film)">Click here for more information on Wikipedia</a>
          <p class="watch">Or watch it here: <a href="https://watchseries.ma/movie/watch-american-pie-free-19306">American Pie</a></p>
        </li>

      </div>
    </ul>
  </body>
</html