<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/style.css">
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>List of movies!!!</h2>
    <ul>
      <div class="container-1">
        <li>VENOM
          <a href="https://www.imdb.com/title/tt1270797/">Click here for more info!!!</a>
        </li>
        <li>HARRY POTTER
          <a href="https://en.wikipedia.org/wiki/Harry_Potter">Click here for more info!!!</a>
        </li>
        <li>TITANIC
          <a href="https://www.imdb.com/title/tt0120338/">Click here for more info!!!</a>
        </li>
        <li>LORD OF THE RINGS
          <a href="https://en.wikipedia.org/wiki/The_Lord_of_the_Rings">Click here for more info!!!</a>
        </li>
      </div>

      <div class="container-2">
        <li>V
          <a href="https://www.imdb.com/title/tt1270797/">Click here for more info!!!</a>
        </li>
        <li>H
          <a href="https://en.wikipedia.org/wiki/Harry_Potter">Click here for more info!!!</a>
        </li>
        <li>T
          <a href="https://www.imdb.com/title/tt0120338/">Click here for more info!!!</a>
        </li>
        <li>L
          <a href="https://en.wikipedia.org/wiki/The_Lord_of_the_Rings">Click here for more info!!!</a>
        </li>
      </div>
    </ul>
  </body>
</html>