<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <h1><%= title %></h1>
    <h3>Here you can find two lists of movies. 
      The first one is a list of the top 20 all time best Hollywood movies.
      The second list is a list of the top 20 funniest movies at all time. 
    </h3>
    <br />
    <br />
    <p>To watch any of these movies you can watch them here at 
    <a href="https://watchseries.ma"> Watch a Movie </a></p>
    <ul>
      <div class="container-1">
        <h2> Top 20 All Time Best Hollywood Movies To Watch</h2>
        <br />
        <li>*** Pulp Fiction ***
          <a href="https://en.wikipedia.org/wiki/Pulp_Fiction">Click here for more information on Wikipedia</a>
          <p>Or watch it here: <a href="https://watchseries.ma/movie/watch-pulp-fiction-free-19700">Pulp Fiction</a></p>
        </li>
        <li>*** Titanic ***
          <a href="https://en.wikipedia.org/wiki/Titanic_(1997_film)">Click here for more information on Wikipedia</a>
          <p>Or watch it here: <a href="https://watchseries.ma/movie/watch-titanic-free-19586">Titanic</a></p>
        </li>
        <li>*** The Dark Knight ***
          <a href="https://en.wikipedia.org/wiki/The_Dark_Knight_(film)">Click here for more information on Wikipedia</a>
          <p>Or watch it here: <a href="https://watchseries.ma/movie/watch-the-dark-knight-free-19752">The Dark Knight</a></p>
        </li>
        
        
      </div>

      <div class="container-1">
        <h2>Top 20 Funniest Movies To Watch</h2>
        <li> *** V ***
          <a href="https://www.imdb.com/title/tt1270797/">Click here for more info!!!</a>
        </li>
        <li>*** V ***
          <a href="https://en.wikipedia.org/wiki/Harry_Potter">Click here for more info!!!</a>
        </li>
        <li>*** V ***
          <a href="https://www.imdb.com/title/tt0120338/">Click here for more info!!!</a>
        </li>
        <li>*** V ***
          <a href="https://en.wikipedia.org/wiki/The_Lord_of_the_Rings">Click here for more info!!!</a>
        </li>

      </div>
    </ul>
  </body>
</html