<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <img src="movies.jpeg" />
    <h1><%= title %></h1>
    <h2>Here you can find two lists of movies. 
      The first one is a list of the top 20 all time best Hollywood movies.
      The second list is a list of the top 20 funniest movies at all time. 
    </h2>
    <br />
    <br />
    <p>To watch any of these movies you can watch them here at 
    <a href="https://watchseries.ma"> Watch a Movie </a></p>
    <ul>
      <div class="container-1">
        <h1> Top 20 All Time Best Hollywood Movies To Watch</h1>
        <br />
        <li>*** VENOM ***
          <a href="https://www.imdb.com/title/tt1270797/">Click here for more info!!!</a>
        </li>
        <li>*** HARRY POTTER ***
          <a href="https://en.wikipedia.org/wiki/Harry_Potter">Click here for more info!!!</a>
        </li>
        <li>*** TITANIC ***
          <a href="https://www.imdb.com/title/tt0120338/">Click here for more info!!!</a>
        </li>
        <li>*** LORD OF THE RINGS ***
          <a href="https://en.wikipedia.org/wiki/The_Lord_of_the_Rings">Click here for more info!!!</a>
        </li>

        <button><a href="https://watchseries.ma"></a>Read More</button>
        
      </div>

      <div class="container-1">
        <h1>Top 20 Funniest Movies To Watch</h1>
        <li> *** V ***
          <a href="https://www.imdb.com/title/tt1270797/">Click here for more info!!!</a>
        </li>
        <li>*** V ***
          <a href="https://en.wikipedia.org/wiki/Harry_Potter">Click here for more info!!!</a>
        </li>
        <li>*** V ***
          <a href="https://www.imdb.com/title/tt0120338/">Click here for more info!!!</a>
        </li>
        <li>*** V ***
          <a href="https://en.wikipedia.org/wiki/The_Lord_of_the_Rings">Click here for more info!!!</a>
        </li>

        <button><a href="https://watchseries.ma"></a>Read More</button>

      </div>
    </ul>
  </body>
</html