
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url(./movies\ \(1\).jpg)
}

h1 {
  text-align: center;
  text-decoration: underline;
  color: #d7d4d4;
}

h2 {
  text-align: center;
  color: #d7d4d4;
}

a {
  color: #d9d5d5;
}
.container-1 {
  color: #d7d4d4;
  background-color: #0d042b;
  align-content: space-between;
  width: 70%;
  height: 70%;
  margin: 2%;
}

.container-2 {
  color: #d7d4d4;
  background-color: #0d042b;
  align-content: space-between;
  width: 70%;
  height: 70%;
}
