
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #0d042b;
  background-image: url("./movies.jpg");
}

h1 {
  text-align: center;
  text-decoration: underline;
  color: #d7d4d4;
}

h2 {
  text-align: center;
  color: #d7d4d4;
  margin: 2% 5%;
}
h3 {
  text-align: center;
  color: #d7d4d4;
  margin: 5% 20% 1% 20%;
}

p {
  color: #d7d4d4;
  text-align: center;
}

.blue-link a{
  background-color: #d7d4d4;
  color: #0d042b;

}

a {
  color: #d6d4db;
  text-decoration: none;
  cursor: pointer;
  background-color: #0d042b;
  padding: 15px 25px;
  margin-left: 5px;
  transition: 0.5s ease-in-out;
}

a:hover {
  background-color: rgb(3, 71, 27);
  transform: scale(1.1);
}

li {
  margin: 10px 20px 10px 20px;
}

.container-1 {
  color: #0d042b;
  background-color: #d6d4db;
  align-content: space-between;
  margin: 2%;
  width: 46%;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  float: left;
}

.container-1 h2{
  color: #0d042b;
}

